{
  "log": {
    "_recordingName": "fetch-destination-lists",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2b06aff7b119a448eee0d6b7411deb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com/auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1939,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "11"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "11"
            },
            {
              "name": "ratelimit-reset",
              "value": "43"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 519,
      },
      {
        "_id": "fd11d86ab8cd72541f5e3d697714f171",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com/policies/v2/destinationlists?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1781,
            "text": "{\"status\":{\"code\":200,\"text\":\"OK\"},\"meta\":{\"page\":1,\"limit\":100,\"total\":5},\"data\":[{\"id\":9881408,\"organizationId\":5325962,\"access\":\"allow\",\"isGlobal\":false,\"name\":\"Centralized Default Allow List\",\"thirdpartyCategoryId\":null,\"createdAt\":1611198014,\"modifiedAt\":1611198014,\"isMspDefault\":true,\"markedForDeletion\":false,\"bundleTypeId\":1,\"meta\":{\"destinationCount\":0,\"domainCount\":0,\"urlCount\":0,\"ipv4Count\":0,\"applicationCount\":0}},{\"id\":9881409,\"organizationId\":5325962,\"access\":\"block\",\"isGlobal\":false,\"name\":\"Centralized Default Block List\",\"thirdpartyCategoryId\":null,\"createdAt\":1611198014,\"modifiedAt\":1611198014,\"isMspDefault\":true,\"markedForDeletion\":false,\"bundleTypeId\":1,\"meta\":{\"destinationCount\":0,\"domainCount\":0,\"urlCount\":0,\"ipv4Count\":0,\"applicationCount\":0}},{\"id\":15617695,\"organizationId\":7944986,\"access\":\"allow\",\"isGlobal\":true,\"name\":\"Global Allow List\[...]
