{
  "log": {
    "_recordingName": "fetch-networks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2b06aff7b119a448eee0d6b7411deb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com/auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1939,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "17"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "17"
            },
            {
              "name": "ratelimit-reset",
              "value": "55"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1026,
      },
      {
        "_id": "ef24f19639d94694183189897d6c3087",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com/deployments/v2/internalnetworks?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 220,
            "text": "[{\"originId\":604528449,\"ipAddress\":\"10.1.2.3\",\"prefixLength\":32,\"createdAt\":\"2023-04-12T11:47:45.000Z\",\"modifiedAt\":\"2023-04-12T11:47:45.000Z\",\"name\":\"Test Network\",\"siteId\":6224675,\"siteName\":\"\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit-second",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining-second",
              "value": "4"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "14"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "13"
            },
            {
              "name": "x-ratelimit-limit-1800",
              "value": "350"
            },
            {
              "name": "x-ratelimit-remaining-1800",
              "value": "342"
            },
            {
              "name": "ratelimit-limit",
              "value": "5"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 513,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
