{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "359230826adcf2d78614d78605c24582",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com//auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1485,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "18"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "18"
            },
            {
              "name": "ratelimit-reset",
              "value": "4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1100,
      },
      {
        "_id": "873deed37a5e621b687682415ea800c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.umbrella.com//deployments/v2/sites?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 228,
            "text": "[{\"originId\":576930610,\"isDefault\":true,\"name\":\"Default Site\",\"modifiedAt\":\"2021-12-09T15:17:18.000Z\",\"createdAt\":\"2021-12-09T15:17:18.000Z\",\"type\":\"site\",\"internalNetworkCount\":0,\"vaCount\":0,\"siteId\":6224682}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit-second",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining-second",
              "value": "4"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "14"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "12"
            },
            {
              "name": "x-ratelimit-limit-1800",
              "value": "350"
            },
            {
              "name": "x-ratelimit-remaining-1800",
              "value": "339"
            },
            {
              "name": "ratelimit-limit",
              "value": "5"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
