{
  "log": {
    "_recordingName": "fetch-domains",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2b06aff7b119a448eee0d6b7411deb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com/auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1939,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "9"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "ratelimit-reset",
              "value": "43"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 555,
      },
      {
        "_id": "841ac8530376d3550ac45cfab86d6320",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com/deployments/v2/internaldomains?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 296,
            "text": "[{\"id\":0,\"domain\":\"10.in-addr.arpa\",\"createdAt\":\"1970-01-01T00:00:00.000Z\",\"modifiedAt\":\"1970-01-01T00:00:00.000Z\",\"description\":\"\",\"includeAllVAs\":true,\"includeAllMobileDevices\":true},{\"id\":0,\"domain\":\"16.172.in-addr.arpa\",\"createdAt\":\"1970-01-01T00:00:00.000Z\",\"modifiedAt\":\"1970-01-01T00:00:00.000Z\",\"description\":\"\",\"includeAllVAs\":true,\"includeAllMobileDevices\":true},{\"id\":0,\"domain\":\"17.172.in-addr.arpa\",\"createdAt\":\"1970-01-01T00:00:00.000Z\",\"modifiedAt\":\"1970-01-01T00:00:00.000Z\",\"description\":\"\",\"includeAllVAs\":true,\"includeAllMobileDevices\":true},{\"id\":0,\"domain\":\"18.172.in-addr.arpa\",\"createdAt\":\"1970-01-01T00[...]
