{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e2b06aff7b119a448eee0d6b7411deb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com/auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1939,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "10"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "10"
            },
            {
              "name": "ratelimit-reset",
              "value": "43"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 552,
      },
      {
        "_id": "fd28eb501bb5817d9f22ef9259ff6d70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com/admin/v2/roles?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 192,
            "text": "[{\"organizationId\":0,\"label\":\"Full Admin\",\"roleId\":1},{\"organizationId\":0,\"label\":\"Read Only\",\"roleId\":2},{\"organizationId\":0,\"label\":\"Block Page Bypass\",\"roleId\":3},{\"organizationId\":0,\"label\":\"Reporting Only\",\"roleId\":4},{\"organizationId\":0,\"label\":\"Investigate Only\",\"roleId\":5}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit-second",
           [...]
