{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "359230826adcf2d78614d78605c24582",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com//auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1939,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "18"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "18"
            },
            {
              "name": "ratelimit-reset",
              "value": "25"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1505,
      },
      {
        "_id": "4520708acf796562667f3a5be3ec903a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com//deployments/v2/networkdevices?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 197,
            "text": "[{\"deviceId\":\"f338b89c814cc87b\",\"deviceKey\":\"abctest-001122334455\",\"name\":\"test device\",\"createdAt\":\"2023-04-10T17:17:04.000Z\",\"originId\":604351955,\"organizationId\":7944986,\"serialNumber\":\"1234\"}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit-second",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining-second",
              "value": "4"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "14"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "12"
            },
            {
              "name": "x-ratelimit-limit-1800",
              "value": "350"
            },
            {
              "name": "x-ratelimit-remaining-1800",
              "value": "328"
            },
            {
              "name": "ratelimit-limit",
              "value": "5"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            },
            {
              "name": "x-amzn-requestid",
              "value": "e91a7659-aca8-447f-9144-c209226e80df"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "DK_j3GrzIAMFUlQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
