{
  "log": {
    "_recordingName": "fetch-application-categories",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "359230826adcf2d78614d78605c24582",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com//auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1518,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "19"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "19"
            },
            {
              "name": "ratelimit-reset",
              "value": "42"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1027,
      },
      {
        "_id": "52d5cb73fc8ef62efe66a270a5f0ff23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com//reports/v2/appDiscovery/applicationCategories?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12,
            "text": "{\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "2000"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "1999"
            },
            {
              "name": "x-ratelimit-limit-hour",
              "value": "6000"
            },
            {
              "name": "x-ratelimit-remaining-hour",
              "value": "5987"
            },
            {
              "name": "ratelimit-limit",
              "value": "2000"
            },
            {
              "name": "ratelimit-remaining",
              "value": "1999"
            },
            {
              "name": "ratelimit-reset",
              "value": "41"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 550,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
