{
  "log": {
    "_recordingName": "fetch-policies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "359230826adcf2d78614d78605c24582",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.umbrella.com//auth/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1518,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "20"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "17"
            },
            {
              "name": "ratelimit-limit",
              "value": "20"
            },
            {
              "name": "ratelimit-remaining",
              "value": "17"
            },
            {
              "name": "ratelimit-reset",
              "value": "16"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 624,
      },
      {
        "_id": "4c88fa78724e4d38e617a9df474abe47",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.umbrella.com//deployments/v2/policies?page=1&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 142,
            "text": "[{\"policyId\":13338533,\"organizationId\":7944980,\"name\":\"Default Policy\",\"priority\":1,\"createdAt\":\"2021-12-09T15:08:38.000Z\",\"isDefault\":true}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit-second",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining-second",
              "value": "4"
            },
            {
              "name": "x-ratelimit-limit-minute",
              "value": "14"
            },
            {
              "name": "x-ratelimit-remaining-minute",
              "value": "12"
            },
            {
              "name": "x-ratelimit-limit-1800",
              "value": "350"
            },
            {
              "name": "x-ratelimit-remaining-1800",
              "value": "343"
            },
            {
              "name": "ratelimit-limit",
              "value": "5"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4"
            },
            {
              "name": "ratelimit-reset",
              "value": "1"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f30c4525-5d7b-4df4-b135-49f7935f2947"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "CzUM6HF8oAMFzeA="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
